.navbar {}

.navbar__items {
  @media (width < $bp-tablet-l) {
    margin: 10px auto;
    text-align: center;
    width: 80%;
  }

  @media (width >= $bp-tablet-l) {
    margin: 10px 0 20px;
    padding-right: 15px;
    text-align: right;
    width: 100%;
  }
}

.navbar__item {
  display: inline-block;
}

.navbar__link {
  @mixin focus-outline;

  display: block;
  color: $color-red-1;
  font-family: $font-crimson-text;
  font-size: 1rem;
  letter-spacing: 0.06em;
  line-height: 0.7em;
  text-decoration: none;
  text-transform: lowercase;

  &:hover,
  .navbar__item--active & {
    text-decoration: line-through;
  }

  @media (width < $bp-tablet-l) {
    padding: 15px 10px;
  }

  @media (width >= $bp-tablet-l) {
    font-size: 1.1rem;
    padding: 10px 15px;
  }
}
