* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  font-family: $font-noto-sans;
  font-size: 16px;
  background-color: $color-red-2;
}

.page {
  font-size: 0;
  line-height: 0;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__content {
  margin: 0 auto;
  flex: 1;
  max-width: 1000px;
  padding: 0 30px;
}

[tabindex="0"] {
  @mixin focus-outline;
}

[tabindex="-1"]:focus {
  outline: none;
}
