* {
  box-sizing: border-box;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-noto-sans;
  font-size: 16px;
  background-color: $color-red-2;
}

main {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 30px;
}
