/**
 * Focus Outline
 */
@define-mixin focus-outline $offset: 0 {
  outline-color: transparent;
  outline-style: solid;
  outline-offset: $offset;
  outline-width: 3px;

  &:focus {
    outline-color: $color-outline;
  }
}

/**
 * Underline Base
 */
@define-mixin underline-base $color {
  &:after {
    background-color: $color;
    bottom: 3px;
    content: '';
    left: 0;
    position: absolute;
    size: 100% 3px;
    transform: scale(0);
    transform-origin: bottom;
    transition: transform 150ms;
  }
}

/**
 * Underline Active
 */
@define-mixin underline-active {
  &:after {
    transform: scale(1);
  }
}
