/******************************
  Color Variables
******************************/

$color-black-0: #000000;
$color-black-1: #363846;
$color-red-1: #FF6E6E;
$color-red-2: #FFF1EF;

/******************************
  Font Variables
******************************/

$font-noto-sans: 'Noto Sans', sans-serif;
