/******************************
  Breakpoints
******************************/

$bp-mobile-s: 320px;
$bp-mobile-m: 360px;
$bp-mobile-l: 460px;

$bp-tablet-s: 700px;
$bp-tablet-m: 768px;
$bp-tablet-l: 960px;

$bp-desktop-s: 1024px;
$bp-desktop-m: 1440px;

/******************************
  Color Variables
******************************/

$color-black-0: #000000;
$color-black-1: #363846;
$color-red-1: #FF6E6E;
$color-red-2: #FFF1EF;
$color-outline: rgb(59, 153, 252);

/******************************
  Font Variables
******************************/

$font-noto-sans: 'Noto Sans', sans-serif;
$font-crimson-text: 'Crimson Text', serif;

/******************************
  Transition Variables
******************************/

$trans-duration: 300ms;
