<article class="recipe-tease">
  <a class="recipe-tease__link" href="{{recipe.link}}" tabindex="0">
    <div class="recipe-tease__figure">
      <div class="recipe-tease__dopple"></div>
      <div class="recipe-tease__dopple"></div>
      <div class="recipe-tease__dopple"></div>
      <div class="recipe-tease__image-wrapper">
        <div class="recipe-tease__image" style="background-image: url({{recipe.images[0].src}});"></div>
      </div>
    </div>
    <h2 class="recipe-tease__title">{{recipe.title}}</h2>
  </a>
</article>
