.recipe-tease {
  margin: * * 40px;
}

.recipe-tease__link {
  @mixin focus-outline;

  display: block;
  margin: * auto;
  max-width: 400px;
  padding: 10px * *;
  text-decoration: none;
}

.recipe-tease__link::after {
  background: rgba($color-red-1, 0.4);
  content: '';
  display: block;
  margin: 30px auto *;
  size: 100% 1px;
}

.recipe-tease__figure {
  margin: * * 30px 10px;
  width: calc(100% - 30px);

  @media (orientation: portrait) {
    height: 250px;
  }

  @media (orientation: landscape) {
    height: 200px;
  }
}

.recipe-tease__dopple:nth-child(1) {
  background: rgba($color-black-1, 0.8);
  display: block;
  position: absolute -10px * * -10px;
  size: 100%;
}

.recipe-tease__dopple:nth-child(2) {
  background: rgba($color-red-1, 0.6);
  display: block;
  position: absolute 10px * * 10px;
  size: 100%;
}

.recipe-tease__dopple:nth-child(3) {
  background: rgba($color-red-1, 0.4);
  display: block;
  position: absolute 20px * * 20px;
  size: 100%;
}

.recipe-tease__image-wrapper {
  overflow: hidden;
  size: 100%;
}

.recipe-tease__image {
  background-position: center;
  background-size: cover;
  size: 100%;

  .recipe-tease__link:hover:not(:focus) & {
    transform: scale(1.2);
  }
}

.recipe-tease__image::before {
  background: rgba($color-black-1, 0.2);
  content: '';
  position: absolute 0;
  size: 100%;
}

.recipe-tease__title {
  color: $color-red-1;
  font-size: 2rem;
  line-height: 1.2em;

  .recipe-tease__link:hover:not(:focus) & {
    text-decoration: line-through;
  }
}
