.recipe-teases {
  @media (width < 960px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.recipe-tease {
  margin: * auto 60px;

  @media (width < $bp-tablet-s) {
    max-width: 360px;
    padding: 10px 20px * 10px;
    width: 100%;
  }

  @media (width >= $bp-tablet-s) {
    width: calc(48% - 30px);
  }

  @media (width >= $bp-tablet-l) {
    max-width: 820px;
    width: 100%;
  }
}

.recipe-tease__link {
  @mixin focus-outline 20px;

  display: block;
  size: 100%;
  text-decoration: none;

  @media (width >= $bp-tablet-l) {
    align-content: flex-start;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .recipe-tease:nth-child(odd) & {
      flex-direction: row;
      padding: 10px 0 0 10px;
    }

    .recipe-tease:nth-child(even) & {
      flex-direction: row-reverse;
      padding: 10px 10px 0 0;
    }
  }
}

.recipe-tease__figure {
  background-color: red;
  margin: * 20px 30px *;

  @media (width < $bp-tablet-s) {
    size: 100% 200px;
  }

  @media (width >= $bp-tablet-s) {
    size: * 240px;
  }

  @media (width >= $bp-tablet-l) {
    display: inline-block;
    size: 43% 225px;

    .recipe-tease:nth-child(odd) & {
      margin: * 20px 30px 0;
    }

    .recipe-tease:nth-child(even) & {
      margin: * 0 30px 20px;
    }
  }
}

.recipe-tease__dopple {
  size: 100%;

  &:nth-child(1) {
    background: rgba($color-black-1, 0.8);
    position: absolute -10px -10px;

    @media (width >= $bp-tablet-l) {
      .recipe-tease:nth-child(even) & {
        position: absolute -10px 10px;
      }
    }
  }

  &:nth-child(2) {
    background: rgba($color-red-1, 0.6);
    position: absolute 10px 10px;

    @media (width >= $bp-tablet-l) {
      .recipe-tease:nth-child(even) & {
        position: absolute 10px -10px;
      }
    }
  }

  &:nth-child(3) {
    background: rgba($color-red-1, 0.4);
    position: absolute 20px 20px;

    @media (width >= $bp-tablet-l) {
      .recipe-tease:nth-child(even) & {
        position: absolute 20px -20px;
      }
    }
  }
}

.recipe-tease__image-wrapper {
  overflow: hidden;
  size: 100%;
}

.recipe-tease__image {
  background-position: center;
  background-size: cover;
  size: 100%;
  transition: transform 300ms;

  .recipe-tease__link:hover & {
    transform: scale(1.1);
  }
}

.recipe-tease__image::after {
  background: rgba($color-black-1, 0.2);
  content: '';
  position: absolute 0;
  size: 100%;
}

.recipe-tease__title {
  color: $color-red-1;
  display: inline-block;
  line-height: 1.2em;

  .recipe-tease__link:hover & {
    text-decoration: line-through;
  }

  @media (width < $bp-tablet-s) {
    font-size: 1.5rem;
  }

  @media (width >= $bp-tablet-s) {
    font-size: 1.8rem;
  }

  @media (width >= $bp-tablet-l) {
    font-size: 2rem;
    padding-top: 160px;
    vertical-align: top;
    width: calc(55% - 20px);

    .recipe-tease:nth-child(odd) & {
      padding-left: 60px;
      text-align: left;
    }

    .recipe-tease:nth-child(even) & {
      padding-right: 60px;
      text-align: right;
    }
  }
}

.recipe-tease__title::after {
  @media (width >= $bp-tablet-l) {
    background: linear-gradient(to right, $color-red-1, $color-black-1, $color-red-1);
    content: '';
    position: absolute;
    size: 70% 6px;
    top: 110px;

    .recipe-tease:nth-child(odd) & {
      left: -30%;
    }

    .recipe-tease:nth-child(even) & {
      right: -30%;
    }
  }
}
