{%- extends 'base.twig' -%}

{%- block content -%}
  <header class="content-header">
    <figure class="logo-container">
      {%- include 'graphics/logo.twig' -%}
    </figure>
  </header>

  <span class="downline downline--short"></span>

  <figure class="emoji-panel">
    {%- include 'graphics/emoji-food.twig' -%}
    {%- include 'graphics/emoji-drinks.twig' -%}
    {%- include 'graphics/emoji-people.twig' -%}
  </figure>

  <span class="downline downline--short"></span>

  <p class="introlede">Welcome to Friend's Dinner! We're a small group of friends in Boston that gets together once a week to cook and share a homemade meal, have a few drinks, and have a good fucking time doing so. This here is a collection of the recipes that we've made thus far. Having rigorously tested each one, we can guarantee that they're all pretty damn tasty. ;-)</p>

  <span class="downline downline--long"></span>

  <section class="recipes-gallery">
    <h1 class="recipe-gallery__heading">Recipes</h1>
  </section>
{%- endblock content -%}
