<svg class="fd-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 276.44 300.01">
  <defs>
    <clipPath id="fd-icon__a" transform="translate(11.07 9.42)">
      <circle cx="133" cy="133" r="133" style="fill:none" />
    </clipPath>
    <clipPath id="fd-icon__b" transform="translate(11.07 9.42)">
      <rect x="-587" y="-28" width="1440" height="4600" style="fill:none" />
    </clipPath>
    <clipPath id="fd-icon__c" transform="translate(11.07 9.42)">
      <rect width="266" height="266" style="fill:none" />
    </clipPath>
    <clipPath id="fd-icon__e" transform="translate(11.07 9.42)">
      <rect x="102.43" y="56.59" width="4" height="277.45" transform="translate(-110.59 142.23) rotate(-48)" style="fill:none" />
    </clipPath>
    <clipPath id="fd-icon__g" transform="translate(11.07 9.42)">
      <rect x="110.43" y="25.59" width="4" height="277.45" transform="translate(-84.91 137.92) rotate(-48)" style="fill:none" />
    </clipPath>
    <clipPath id="fd-icon__i" transform="translate(11.07 9.42)">
      <rect x="-30.5" y="67.86" width="207.48" height="4" transform="translate(-27.97 68.71) rotate(-43)" style="fill:none" />
    </clipPath>
    <clipPath id="fd-icon__k" transform="translate(11.07 9.42)">
      <path d="M205.69,104.49a5.11,5.11,0,0,1-2,4.35q-2,1.49-5.94,1.49a18.64,18.64,0,0,1-3.45-.27,13.06,13.06,0,0,1-2.67-.81v-4.18a17.65,17.65,0,0,0,3.18,1.11,12.87,12.87,0,0,0,3.11.45q2.76,0,2.76-1.59a1.33,1.33,0,0,0-.37-1,5.3,5.3,0,0,0-1.26-.85q-.9-.47-2.39-1.1a15,15,0,0,1-3.15-1.66,4.67,4.67,0,0,1-1.46-1.75,5.78,5.78,0,0,1-.46-2.43,4.41,4.41,0,0,1,1.92-3.83A9.34,9.34,0,0,1,199,91.09a15.43,15.43,0,0,1,6.52,1.46L204,96.2q-1.39-.6-2.61-1a8.19,8.19,0,0,0-2.47-.38q-2.24,0-2.24,1.21a1.42,1.42,0,0,0,.72,1.18,19.64,19.64,0,0,0,3.16,1.48,14.69,14.69,0,0,1,3.19,1.64,4.86,4.86,0,0,1,1.49,1.76A5.41,5.41,0,0,1,205.69,104.49ZM186.86,85.21,186.18,94h-3.27l-.68-8.77ZM167.32,106.3a3.43,3.43,0,0,0,2.85-1.13,6.57,6.57,0,0,0,1-3.83v-.55a7.59,7.59,0,0,0-.92-4.28,3.42,3.42,0,0,0-3-1.29,3,3,0,0,0-2.63,1.44,7.66,7.66,0,0,0-.94,4.18,7.26,7.26,0,0,0,.95,4.11A3.09,3.09,0,0,0,167.32,106.3Zm-1.78,4a6,6,0,0,1-5.14-2.54,11.68,11.68,0,0,1-1.87-7,11.69,11.69,0,0,1,1.9-7.11,6.17,6.17,0,0,1,5.24-2.55A6.05,6.05,0,0,1,171,93.81h.17a20.71,20.71,0,0,1-.38-3.7V84.17h5.08V110H172l-1-2.41h-.22A5.79,5.79,0,0,1,165.54,110.33ZM154.45,110h-5.06V99.16a5.21,5.21,0,0,0-.71-3,2.6,2.6,0,0,0-2.27-1,3.42,3.42,0,0,0-3.07,1.42,8.8,8.8,0,0,0-.95,4.71V110h-5.06V91.44h3.87l.68,2.37h.28a5.35,5.35,0,0,1,2.33-2,7.94,7.94,0,0,1,3.38-.69,6.49,6.49,0,0,1,4.91,1.75,7,7,0,0,1,1.68,5.06Zm-28.82.33a9.58,9.58,0,0,1-7-2.47,9.37,9.37,0,0,1-2.52-7q0-4.67,2.33-7.21a8.31,8.31,0,0,1,6.45-2.55A8.18,8.18,0,0,1,131,93.33a8.48,8.48,0,0,1,2.19,6.19V102h-12a4.87,4.87,0,0,0,1.28,3.37,4.5,4.5,0,0,0,3.35,1.21,13.92,13.92,0,0,0,3.17-.35,15.86,15.86,0,0,0,3.12-1.11V109a11.89,11.89,0,0,1-2.84,1A17.9,17.9,0,0,1,125.63,110.33Zm-.71-15.64a3.21,3.21,0,0,0-2.52,1,4.73,4.73,0,0,0-1,2.9h7.11a4.22,4.22,0,0,0-1-2.9A3.32,3.32,0,0,0,124.92,94.69Zm-13,15.31h-5.06V91.44h5.06Zm-5.28-23.36q0-2.47,2.76-2.47t2.76,2.47a2.41,2.41,0,0,1-.69,1.83,2.9,2.9,0,0,1-2.07.66Q106.64,89.13,106.64,86.64Zm-4.86,4.45a8.17,8.17,0,0,1,1.71.15L103.1,96a5.8,5.8,0,0,0-1.49-.17,5.37,5.37,0,0,0-3.78,1.25,4.5,4.5,0,0,0-1.35,3.49V110H91.42V91.44h3.83L96,94.56h.25A7,7,0,0,1,98.58,92,5.75,5.75,0,0,1,101.78,91.09ZM78.22,110H73.15V85.73H87.07v4.22H78.22V96.2h8.23v4.2H78.22Z" style="fill:none;clip-rule:evenodd" />
    </clipPath>
    <clipPath id="fd-icon__m" transform="translate(11.07 9.42)">
      <path d="M246.61,138.09a8.17,8.17,0,0,1,1.71.15l-.38,4.75a5.8,5.8,0,0,0-1.49-.17,5.37,5.37,0,0,0-3.78,1.25,4.5,4.5,0,0,0-1.35,3.49V157h-5.06V138.44h3.84l.75,3.12h.25a7,7,0,0,1,2.33-2.52A5.75,5.75,0,0,1,246.61,138.09Zm-22,19.24a9.58,9.58,0,0,1-7-2.47,9.37,9.37,0,0,1-2.52-7q0-4.67,2.33-7.21a8.31,8.31,0,0,1,6.45-2.55,8.18,8.18,0,0,1,6.13,2.24,8.48,8.48,0,0,1,2.19,6.19V149h-12a4.87,4.87,0,0,0,1.28,3.37,4.5,4.5,0,0,0,3.35,1.21,13.92,13.92,0,0,0,3.17-.35,15.86,15.86,0,0,0,3.12-1.11V156a11.89,11.89,0,0,1-2.84,1A17.9,17.9,0,0,1,224.56,157.33Zm-.71-15.64a3.21,3.21,0,0,0-2.52,1,4.73,4.73,0,0,0-1,2.9h7.11a4.22,4.22,0,0,0-1-2.9A3.32,3.32,0,0,0,223.85,141.69ZM210.95,157h-5.06V146.16a5.21,5.21,0,0,0-.71-3,2.6,2.6,0,0,0-2.27-1,3.42,3.42,0,0,0-3.07,1.42,8.8,8.8,0,0,0-.95,4.71V157h-5.06V138.44h3.87l.68,2.37h.28a5.35,5.35,0,0,1,2.33-2,7.94,7.94,0,0,1,3.38-.69,6.49,6.49,0,0,1,4.91,1.75,7,7,0,0,1,1.68,5.06Zm-22.35,0h-5.06V146.16a5.21,5.21,0,0,0-.71-3,2.6,2.6,0,0,0-2.27-1,3.42,3.42,0,0,0-3.07,1.42,8.8,8.8,0,0,0-.95,4.71V157h-5.06V138.44h3.87l.68,2.37h.28a5.35,5.35,0,0,1,2.33-2,7.94,7.94,0,0,1,3.38-.69,6.49,6.49,0,0,1,4.91,1.75,7,7,0,0,1,1.68,5.06Zm-22.45,0h-5.06V138.44h5.06Zm-5.28-23.36q0-2.47,2.76-2.47t2.76,2.47a2.41,2.41,0,0,1-.69,1.83,2.9,2.9,0,0,1-2.07.66Q160.88,136.13,160.88,133.64Zm-9.76,11.12q0-7.82-6.91-7.82h-2.74v15.8h2.21Q151.11,152.75,151.11,144.76Zm5.35-.13q0,6-3.41,9.18T143.2,157h-6.87V132.73h7.62q5.94,0,9.23,3.14T156.46,144.63Z" style="fill:none;clip-rule:evenodd" />
    </clipPath>
  </defs>
  <title>Friend's Dinner Logo</title>
  <g style="clip-path:url(#fd-icon__a)">
    <g style="clip-path:url(#fd-icon__b)">
      <g style="isolation:isolate">
        <g style="clip-path:url(#fd-icon__c)">
          <g style="clip-path:url(#fd-icon__c)">
            <rect x="6.07" y="4.42" width="276" height="276" style="fill:#ff6e6e" />
          </g>
          <g style="clip-path:url(#fd-icon__e)">
            <g style="clip-path:url(#fd-icon__c)">
              <rect x="97.43" y="51.59" width="14" height="287.45" transform="translate(-99.52 151.65) rotate(-48)" style="fill:#363846" />
            </g>
          </g>
          <g style="clip-path:url(#fd-icon__g)">
            <g style="clip-path:url(#fd-icon__c)">
              <rect x="105.43" y="20.59" width="14" height="287.45" transform="translate(-73.84 147.34) rotate(-48)" style="fill:#363846" />
            </g>
          </g>
          <g style="clip-path:url(#fd-icon__i)">
            <g style="clip-path:url(#fd-icon__c)">
              <rect x="-35.5" y="62.86" width="217.48" height="14" transform="translate(-16.9 78.13) rotate(-43)" style="fill:#363846" />
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
  <g style="clip-path:url(#fd-icon__k)">
    <g style="clip-path:url(#fd-icon__b)">
      <rect x="79.22" y="88.59" width="142.53" height="36.16" style="fill:#fff1ef" />
    </g>
  </g>
  <g style="clip-path:url(#fd-icon__m)">
    <g style="clip-path:url(#fd-icon__b)">
      <rect x="142.39" y="135.59" width="121.99" height="36.16" style="fill:#fff1ef" />
    </g>
  </g>
</svg>
